body{
    margin: 0;
    box-sizing: border-box;
    background-image: url(img/fondo-lila.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 60px;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header p {
    font-size: 35px;
    color: #f00ee1;
}

header i {
    padding: 10px;
    background-color: #777;
    border-radius: 50%;
    color: #fff;
}

.container {
    display: flex;
    gap: 30px;
}

aside {
    background-color: #000;
    color: #fff;
    padding: 20px;
    padding-top: 70px;
    position: relative;
    height: auto;
    text-align: center;
    width: 40%;
}

img[src="img/imagen-chica.png"] {
    position: absolute;
    display: none;
}

aside > p {
    color: #ccc;
}

.lista-redes-sociales {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.lista-redes-sociales i {
    padding: 12px;
    border-radius: 5px;
    background-color: #333;
    width: 15px;
    height: 15px;
}

.lista-redes-sociales li:nth-child(1) i{
    color: #1f70b7;
}

.lista-redes-sociales li:nth-child(2) i{
    color: #699ecc;
}

.lista-redes-sociales li:nth-child(3) i{
    color: #c877c5;
}

.lista-redes-sociales li:nth-child(4) i{
    color: #5f77a4;
}

.lista-redes-sociales, .lista-datos-secundario{
    list-style: none;
    padding: 0;
}

.lista-datos-secundario {
    background-color: #333;
    padding: 20px;
    border-radius: 20px;
}

.lista-datos-secundario li {
    display: flex;
    align-items: center;
}