body{
    margin: 0;
    box-sizing: border-box;
    background-image: url(img/fondo-lila.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 60px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header p {
    font-size: 30px;
    color: #f00ee1;
}

header i {
    padding: 10px;
    background-color: #777;
    border-radius: 50%;
    color: #fff;
}